* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #4f5f6f;
}

.container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
  content: " ";
  display: table;
}

.clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after {
  clear: both;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-12 {
  width: 100%;
}

.analysis a {
  padding: 4px;
}
.analysis hr {
  margin: 16px 0;
  border: 2px solid #dddddd;
}

body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333333;
  background-color: #f1f1f1;
}

a {
  color: #3ba2c5;
  -webkit-transition: 0.06s ease-in-out;
  transition: 0.06s ease-in-out;
}
a:hover {
  color: #237dac;
}

.container {
  display: block;
  padding: 0;
  margin: 0 auto;
  width: 1024px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.lead {
  line-height: 33px;
}
.lead span {
  color: #3ba2c5;
}

.book {
  margin: 16px auto;
  padding: 16px;
  min-height: 512px;
  max-width: 384px;
  border: 4px solid #4f5f6f;
  border-left-color: #3ba2c5;
  border-radius: 6px;
}

.book-head {
  margin-top: 64px;
}

.book-head_title {
  border-bottom: 1px solid #4f5f6f;
}

.book-head_ed {
  padding: 0 4px;
}

.book-author {
  padding: 8px 0;
  text-align: right;
}

.book-publish {
  margin-top: 192px;
}

.book-info {
  margin: 16px;
  padding: 24px 16px;
}
.book-info ul {
  margin-bottom: 8px;
}

.book-link {
  border-top: 2px solid #3ba2c5;
  padding: 16px 0;
  margin: 16px 0;
}

.book-holding {
  border: 2px solid #4f5f6f;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 16px;
}
.book-holding ul {
  list-style: none;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  -webkit-transition: 0.06s ease-in-out;
  transition: 0.06s ease-in-out;
}
.btn:focus {
  outline: 0;
}
.btn.btn-default {
  color: #4f5f6f;
  background-color: white;
  border-color: #dddddd;
}
.btn.btn-default:hover, .btn.btn-default:focus {
  border-color: #3ba2c5;
  color: #3ba2c5;
}
.btn.btn-blue {
  background: #3ba2c5;
  color: white;
  border-color: #3ba2c5;
}
.btn.btn-blue:hover, .btn.btn-blue:focus {
  color: #3ba2c5;
  background-color: white;
}
.btn.btn-white_blue {
  background: white;
  color: #3ba2c5;
  border-color: #3ba2c5;
}
.btn.btn-white_blue:hover, .btn.btn-white_blue:focus {
  background: #3ba2c5;
  color: white;
  border-color: #3ba2c5;
}
.btn.btn-lg {
  padding: 8px 16px;
}

.error {
  line-height: 3em;
  border-left: 4px solid #e65977;
  background: #fcf2f5;
  padding: 8px;
  margin: 16px 0;
  color: #e65977;
}

#footer {
  width: 100%;
  min-width: 1024px;
  padding: 16px 0;
  margin-top: 16px;
  border-top: 4px solid #dddddd;
}
#footer .links a {
  padding: 0 4px;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.input-group-addon, .input-group-btn, .input-group .form-control {
  display: table-cell;
}

.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}

.form-control {
  display: block;
  width: 100%;
  height: 33px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #4f5f6f;
  background-color: white;
  background-image: none;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: 0.06s ease-in-out;
  transition: 0.06s ease-in-out;
}

.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}

.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  min-width: 40px;
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
  margin-left: -1px;
}

.input-group {
  margin-bottom: 20px;
}

.form-control:focus {
  border-color: #3ba2c5;
  outline: 0;
}
.form-control:focus + .input-group-addon {
  background: #3ba2c5;
  border-color: #3ba2c5;
  color: #f1f1f1;
}

#header {
  width: 100%;
  min-width: 1024px;
  padding: 8px 0;
  margin-bottom: 16px;
  border-top: 2px solid #3ba2c5;
  background: #dddddd;
}
#header h1 {
  display: inline-block;
}
#header a {
  text-decoration: none;
}
#header .title h1 {
  color: #4f5f6f;
}
#header .title h1:hover, #header .title h1:focus {
  color: #237dac;
}
#header .input-group {
  margin-bottom: 0;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a, .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857;
  text-decoration: none;
  color: #3ba2c5;
  background-color: white;
  border: 1px solid #dddddd;
  margin-left: -1px;
  -webkit-transition: 0.06s ease-in-out;
  transition: 0.06s ease-in-out;
}
.pagination > li > a:hover, .pagination > li > a.active, .pagination > li > span:hover, .pagination > li > span.active {
  background: #3ba2c5;
  color: white;
}

.report {
  margin-top: 16px;
}

.report-container {
  padding: 16px;
  margin-bottom: 16px;
  border-bottom: 2px solid #dddddd;
  font-size: 16px;
  line-height: 1.8;
}
.report-container dt {
  font-weight: bold;
}
.report-container dd {
  margin-bottom: 8px;
  padding-left: 8px;
}
.report-container table {
  display: inline-block;
  border: 1px solid #4f5f6f;
}
.report-container table th {
  background: #dddddd;
}
.report-container table th,
.report-container table td {
  min-width: 128px;
  padding: 4px 8px;
}
.report-container table span {
  text-decoration: underline;
}

.report-container:last-child {
  border-bottom: 0;
}

.search-form-single,
.search-form-multi {
  width: 512px;
  margin: 64px auto 96px;
}
.search-form-single p,
.search-form-multi p {
  font-size: 14px;
  line-height: 1.6;
  color: #4f5f6f;
}
.search-form-single .form-group,
.search-form-multi .form-group {
  text-align: center;
}
.search-form-single .form-group .btn,
.search-form-multi .form-group .btn {
  font-size: 16px;
  padding: 8px 32px;
}

.search-form-single .input-group {
  width: 100%;
}
.search-form-single .input-group .form-control {
  height: 48px;
  font-size: 24px;
}

.search-form-border {
  border-top: 2px solid #dddddd;
  padding-top: 24px;
  display: block;
}
.search-form-border > .btn {
  padding: 8px 48px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  margin: 8px 0;
  background-color: transparent;
}

th {
  text-align: left;
  color: #4f5f6f;
}

.table {
  width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tbody > tr > td {
  padding: 8px;
  line-height: 1.42857;
  vertical-align: top;
  border-bottom: 1px solid #dddddd;
  border-left: 4px solid transparent;
  -webkit-transition: 0.06s ease-in-out;
  transition: 0.06s ease-in-out;
}
.table > tbody > tr:hover > td:first-child {
  border-left: 4px solid #3ba2c5;
}
