.search-form-single,
.search-form-multi
  width: 512px
  margin: 64px auto 96px
  p
    font-size: 14px
    line-height: 1.6
    color: $DarkGray
  .form-group
    text-align: center
    .btn
      font-size: 16px
      padding: 8px 32px

.search-form-single
  .input-group
    width: 100%
    .form-control
      height: 48px
      font-size: 24px

.search-form-border
  border-top: 2px solid $Gray
  padding-top: 24px
  display: block
  > .btn
    padding: 8px 48px