doctype
html
  head
    block title
      title opac

    include ../template/meta
    include ../template/asset

    block asset

  body
    include ../template/header
    
    block contents

    include ../template/footer